/*THEME COLORS:
Gray: #F2F2F2
Blue1: #9BC2E6
Blue2: #8EA9DB
Blue3: #4471A7
Blue4: #264778
*/
.header {
  position: fixed;
  top:0px; left: 0px;
  width: 100%;
  height: 108px;
  background-color: #D2D2D2;
  overflow: hidden;
}

.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 108px;
  left: 40px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #4471A7;
  display: block;
}

.sidenav a:hover {
  color: #9BC2E6;
}

.center_element {
  display: block;
  margin: 0px auto;
  text-align: center;
}

.left_element{
  float: left;
  margin: 10px 30px 10px 6px;
}

.right_element{
  float: right;
  margin: 10px 6px 10px 30px;
}

.button {
  width: 306px;
  height: 36px;
  margin-top: 5px;
  border: 2px solid #8F8F8F;
  background-color: #E2E2E2;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: #6F6F6F;
}

.button:hover{
  border: 2px solid #6F6F6F;
  background-color: #D2D2D2;
}

.project_block{
  overflow: auto;
  display: block;
  width: 100%;
  margin-top: 12px;
  border-top: 3px solid #8F8F8F;
  padding: 12px 0px 0px 0px;
}

.project_content{width: 70%; margin: 0px 0px 0px 6px; float: left;}
.project_right{width: 25%; float: right;}

.main {
  margin: 8px 0px 8px 220px;
  padding: 0px 40px;
  border-left: 1px solid #4471A7;
}

body {
  background-color: #F2F2F2;
  padding: 108px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {font-size: 54px; font-weight: 400; margin: 36px 0px 0px 50px; color: #264778; clear: both;}
h2 {font-size: 36px; font-weight: 700; margin: 0px 0px 0px 0px; padding: 30px 0px 10px 0px; color: #3F3F3F; clear: both;}
h3 {font-size: 30px; font-weight: 400; margin: 0px 0px 0px 0px; padding: 10px 0px 10px 0px; color: #4F4F4F; clear: both;}
p  {font-size: 24px; font-weight: 400; margin: 0px 0px 0px 0px; padding: 0px 0px 10px 0px; line-height: 1.5; text-indent: 2em; color: #6F6F6F;}
p a{color: #6F6F6F;} p a:hover{color: #4F4F4F;}
img{border: 2px solid #8F8F8F;}
video{border: 2px solid #8F8F8F;}
